<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Niberthix</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="header">
    <label class="head-text">Niberthix</label>
  </div>
  <div id="content">
    <div id="box-head">
      <h1 class="c3f9 cent">Hello World</h1>
      <p class="cent">
        Sometimes in boarding school.<br>
      I am create this website just for fun.
      <p>
    </div>
    <hr>
    <div id="box">
      In here, i'm just bored and type some word at this website space, nothing in here.
    </div>
    <div id="box">
      This web design has created by Spck editor on android. Yea, i am created this website with android.
    </div>
    <div id="box">
      Want to see a button design, look down.<br>
      <input type="button" class="btn" value="Nothing in here">
    </div>
  </div>
  <div id="end">
    <h2 class="c3f9">Contact</h2>
    Youtube: <a href="http://youtube.com">Niberthix</a><br>
    Instagram: <a href="http://instagram.com/niberthix">@niberthix</a>
    <br>
    visitor: <%= count %>
    <div id="ctext">© No Copyright</div>
  </div>
  <script src="main.js"></script>
</body>
</html>
